.boutton{
	display:block;
	float : left;
	margin-right:45px;
}
form{
	width:240px;
	height:450px;
	border:4px solid #5A5E6B;
	padding:10px;
	background-color:#DCDCDC;
}
#suivant{
	color:#1E7FCB;
} 


#suivant:hover{
	
}