*{}
header{width:900px;margin-left:auto;margin-right:auto;background-color:#dcd9e1 ;padding-bottom:25px;border-bottom:1px solid black;height:50px}
.logo img{display:block;width:175px;float:left;border-right:1px solid black}
.header-content{display:inline-block;}
.site-menu{display:block;margin:17px}
.menu-lien{display:block ;font-size:14pt; text-align:right;line-height:80px}
.menu-btn{width:400px;display:inline-block ; float:left ; padding : 0 ; margin-bottom:10px;} 
.menu-btn a{border-radius: 10px;text-decoration:none;margin-right:150px;;color:white;;padding:5px;}
.reche-btn{background-color:#69ca90}
.prop-btn{background-color:orange}
.reche-btn:hover{box-shadow:0 1px 0 inset}
.prop-btn:hover{box-shadow:0 1px 0 inset}
.inscription{display:inline-block;color:#333;padding : 0 ; margin-top:0;text-decoration:none;}
.inscription:hover{color:#08c}
.connexion:hover{color:#08c}
.connexion{display:inline-block;color:#333;padding : 0 ; margin-top:0;text-decoration:none}
span{margin-left:10px;margin-right:10px}


.recherche{width:900px ; margin-left:auto;margin-right:auto;background-color:#69ca90 ;padding-bottom:25px;padding-top:1px}
form {margin-left : auto ; margin-right : auto ; }
input{display :inline-block ; width : 210px ; height : 30px ; margin : 5px ; border-radius:3px;border:1px solid #69ca90}
input[type="submit"]{height : 34px}
input[type="submit"]:hover{box-shadow:0 1px 0 inset}
h2{margin-left:8px}

.image{width:950px ; margin-left:auto;margin-right:auto;}

.barre-menu-haut{display:block;margin-left:auto;margin-right:auto;width:900px;height:30px; background-color:#69ca90;padding-bottom:30px}
.barre-menu-haut h3{display:inline-block;margin-left:100px;}





